<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Add your CSS links here -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header') %>

        <nav>
          <%- include('partials/navigation') %>
        </nav>

        <main>
            <h1>
                <%= title %>
            </h1>
            <!-- Dynamic heading -->
            <%- detailHTML %>
                <!-- Inject the formatted HTML from the controller -->
        </main>

        <%- include('partials/footer') %>

</body>

</html>