<%- include('../partials/header') %>

    <nav>
        <%- nav %>
    </nav>

    <main class="container">
        <h1>
            <%= title %>
        </h1>

        <% if (grid && grid.length> 0) { %>
            <div class="vehicle-grid">
                <%- grid %>
            </div>
            <% } else { %>
                <p>No vehicles available in this category.</p>
                <% } %>
    </main>

    <%- include('../partials/footer') %>