<%- include('../partials/header') %>

    <nav>
        <%- nav %>
    </nav>

    <main class="vehicle-detail">
        <h1>
            <%= title %>
        </h1>

        <section>
            <%- detailHTML %>
        </section>
    </main>

    <%- include('../partials/footer') %>